#header {
    margin:10px;
}


#body {
    border-top:none;
    
}


#navigation {
    margin:20px 0px 10px 0px;
    float:none;
    clear:both;
    text-align:center;
}
#navigation a  {
    display:inline-block;
    vertical-align: top;
    border:1px solid #999;
}


#content {
    border:none;
    clear:both;
}

#content .text {
    padding:0px 10px;
    
}