body {
    font-size: 12pt;
    font-family: Verdana, Geneve, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    
    line-height: 16pt;
    
    background-color: black;
    background-position: top;
    background-image: url(wood-floor.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font: 20pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    line-height: 20pt;
}

h1#chapter {
    font: 20pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    line-height: 36pt;
    text-align: center;
}

h2 {
    font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 18pt;
}

div.textBacking {
    max-width: 800px;
    background-color: #000000;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    opacity: 0.7;
    filter:alpha(opacity=70);
}

div.chapterIntro {
    font-style: italic;
}

p.subheader {
    font-weight: bold;
    color: #593d87;
}

div.navigation {
    font-size: 9pt;
    font-style: italic;
    line-height: 12pt;
}

div.left {
    float: left;
    text-align: left;
    width: 33%;
}

div.center {
    float: left;
    text-align: center;
    width: 33%;
}

div.right {
    float: left;
    text-align: right;
    width: 33%;
}

img {
    padding: 3pt;
    float: right;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #8094D6; /* blue */
}

a:hover, a:active {
    color: #FF9933;  /* orange */
}

/*
hr.blueBar {
    height: 1px;
    width: 33%;
    background: #8094D6;
    <-- margin: 0px 150px 0px 150px;  --!>
}
*/

div.hr {
    height: 30px;
    background-color: transparent;
    background-image: url(div.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

div.hr hr {
    display: none;
}