@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face{
    font-family:"Old London";
    src: url(fonts/OldLondon.ttf);
}


html {
    background-image: url(images/pl_vs_ck_dark_1080_crop.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-color: #000000;
    background-position: center center;
    background-size: cover;
    padding:0;
    margin:0;
    height: 100%;
}

body {
    margin:0px;
    font-size:16pt;
    font-family:"Open Sans", Arial, sans-serif;
    font-style:normal;
    font-weight:normal;
    color:#FFFFFF;
    line-height:36pt;
}


#header {
    margin:35px 0px 20px 0px;
    padding:0px;
    font-family:"Old London";
    font-size:24pt;
    text-align:center;
    overflow:hidden;
}
#header h1 {
    margin:0px;
}
#header  a:link, a:visited {
    color:white;
    text-decoration: none;
}


#body {
    margin-left:auto;
    margin-right:auto;
    padding:0px;
    max-width:1000px;
    border-top:1px solid #999;
    overflow:hidden;
    line-height: 16pt;
}


#navigation {
    padding:0px;
    margin:0px;
    float:left;
    text-align:right;
}
#navigation a  {
    display:block;
    height:100%;
    color: #FFFFFF;
}
#navigation  a:link, a:visited {
    margin:0px;
    padding:10px;
    font-size:16pt;
    line-height:16pt;
    color:white;
    text-decoration: none;
}
#navigation a:link.selected, a:visited.selected {
    background:url(images/pixel-red-70-percent.png);
}
#navigation a:hover  {
    background:url(images/pixel-red-70-percent.png);
}


#content {
    margin:0px;
    padding:0px;
    border-left:1px solid #999;
    overflow:hidden;
}


#content .table{
    margin:0px;
    padding:0px;
    overflow:hidden;
    text-align:center;
    background:none;
}
#content .table a:link, a:visited {
    color:white;
    text-decoration: none;
}
#content .table .row-header {
    overflow:hidden;
    border-bottom:1px solid #999;
    font-weight:bold;
    font-style:italic;
}
#content .table .cell-header {
    float:left;
    padding:10px 0px;
    position:relative;
}
#content .table .row-content {
    overflow:hidden;
}
#content .table .row-content:hover .cell-content {
    background:url(images/pixel-white-20-percent.png);
}
#content .table .cell-content {
    padding:10px 0px;
    float:left;
}
#content .table .row-content .clickable:hover {
    background:url(images/pixel-red-70-percent.png);
}
.column-facebook {
    width:30%;
}
.column-steam {
    width:30%;
}
.column-dotabuff {
    width:20%;
}
.column-lastseen {
    width:20%;
}
.sorted-ASC {
    background: url(images/arrow-red-70_percent_ASC.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.sorted-DESC {
    background: url(images/arrow-red-70_percent_DESC.png);
    background-repeat: no-repeat;
    background-position: center center;
}


#content .text {
    padding:10px 0px 0px 30px;
    font-size:12pt;
}
#context.text strong {
    font-family:"Open Sans", Arial, sans-serif;
    font-style:normal;
    font-weight:bold;
}
#content .text a {
    font-family:"Open Sans", Arial, sans-serif;
    font-style:normal;
    font-weight:bold;
    text-decoration:underline;
    color:#A21717;
}
#content .text li {
    margin-top:1em;
    margin-bottom:1em;
}

#footer {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    text-align:center;
    padding:0px;
    height:50px;
    overflow:hidden;
}