
body {
    font-size: 12pt;
    font-family: Verdana, Geneve, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    
    line-height: 16pt;
}

h1 {
    font: 20pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    line-height: 36pt;
    text-align: center;
}

h2 {
    font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 18pt;
}


div.left {
    float: left;
    text-align: left;
    width: 33%;
}

div.center {
    float: left;
    text-align: center;
    width: 33%;
}

div.right {
    float: left;
    text-align: right;
    width: 33%;
}

div.button {
    position: relative;
    float: left;
    width: auto;
    background-color: #D14836;
    font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
}

span.button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    z-index: 1;
    
    background-image: url('blank.gif');
}

img {
    padding: 3pt;
    float: right;
}

a {
    text-decoration: none;
}

a.button:link, a.button:visited, a.button:hover, a.button:active {
    color: #FFFFFF;
}