@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face{
    font-family:"Old London";
    src: url(fonts/OldLondon.ttf);
}


html {
    background-color: white;
}

body {
    background-color: green;
    font-family:"Open Sans", Arial, sans-serif;
    font-style:normal;
    font-weight:normal;
    color:black;
}


#header {
    font-family:"Old London";
    text-align:center;
}



#body {
    margin-left:auto;
    margin-right:auto;
    padding:0px 8px;
    max-width:1000px;
    overflow:hidden;
}



#footer {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    text-align:center;
    padding:0px;
    height:50px;
    overflow:hidden;
}